mixin createPostForm(UserloggedIn)
    .postFormContainer 
        .userImageContainer
            img(src=UserloggedIn.profilePic, alt="User's profile picture")
        .textareaContainer
            textarea#postTextarea(placeholder="What's happening?")
            .buttonContainer 
                button#submitPostButton(disabled="") Post

mixin createReplyModal(UserloggedIn)
    #replyModal.modal.fade(tabindex='-1', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h1#replyModalLabel.modal-title.fs-5 Reply
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    .postFormContainer 
                        .userImageContainer
                            img(src=UserloggedIn.profilePic, alt="User's profile picture")
                        .textareaContainer
                            textarea#replyTextarea(placeholder="What's happening?")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button', disabled="") Reply